/*базовые стили*/
body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;
	background-color: #f1f5f7;
}

/*убираем подчеркивание ссылки*/
a {
  text-decoration: none;
}

/*общие стили для блока правее логотипа*/
.header-right {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	color :#ffffff;
	background-color: #293449;
}

/*определяю цвет текста для ссылок*/
.header-right a {
	color: #ffffff;
}

/*цвет фона для ссылки на оформление заказа*/
.header-right a:last-child {
	background-color: #63a63e;
}

/*цвет формы поиска*/
.header-right input {
	background-color: #293449;
}

/*цвет фона при наведении для поиска и ссылок*/
.header-right a:hover,
.header-right input:hover {
	background-color: #212a3a;
}

/*цвет фона при наведении для ссылки на оформление заказа*/
.header-right a:last-child:hover {
	background-color: #5fbb2d;
}

/*цвет фона для ссылок при нажатии*/
.header-right a:active{
	background-color: #161d29;
}

/*цвет фона для ссылки на оформление при нажатии*/
.header-right a:last-child:active {
	background-color: #518534;
	opacity: 0.5;
}

/*цвет фона для поля поиска в фокусе и при нажатии*/
.header-right input:focus {
	background-color: #ffffff;
}

/*правило для заголовка первого уровня*/
.main-header h1 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	background-color: #f1f5f7;
	font-style: italic;
}

/*правило для номера телефона*/
.tel {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	background-color: #f1f5f7;
	border: 3px solid #ffffff;
}

/*правило для адреса*/
.address {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	background-color: #f1f5f7;
}

/*аннулирует цвет и подчеркивание ссылок*/
a {
	text-decoration: none;
}

/* войти,имя профиля и регистрация в покое*/
.user-link-big a{
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
}

/*войти,имя профиля и регистрация при наведении*/
.user-link-big a:hover {
	color: #ee3643;
}

/*войти, имя профиля и регистрация при клике*/
.user-link-big a:active {
	color: #000000;
	opacity: 0.5;
}

/*заказы и личный кабинет в покое*/
.user-link-small a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #32425c;
	text-decoration: underline;
}

/*заказы и личный кабинет при наведении*/
.user-link-small a:hover{
	color: #ee3643;
}

/*заказы и личный кабинет клик*/
.user-link-small a:active{
	color: #32425c;
	opacity: 0.5;
}

/*правило для главной навигации*/
.main-navigation {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: normal;
	color: #ffffff;
	background-color: #32425c;
}

/*главная навигация при наведении*/
.main-navigation li:hover {
	background-color: #293449;
}

/*главная навигация при клике*/
.main-navigation li:active {
	background-color: #1d2739;
	opacity: 0.5;
}

/*отмена точек в списках*/
li {
	list-style: none;
}

/*цвет ссылок в глав.навигации*/
.site-navigation a {
	color: #ffffff;
}

/*это внутренняя тень для пунктов меню*/
.site-navigation li{
	box-shadow: inset 0 -30px 0px -25px #293449;
}

/*прозрачность бренды при клике*/
.brands li:active{
	opacity: 0.5;
}

/*правило для заголовков второго уровня*/
.catalog h2,
.brands h2,
.services h2,
.delivery h2,
.about-us h2,
.contacts h2,
.write-us h2,
.modal-map h2,
.main h2,
.perforator h2,
.container h2 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
}

/*правило для параграфов о нас, контакты, перфораторы*/
.about-us p,
.contacts p,
.perforator p {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
}

/*цвет фона для секций*/
section {
	background-color: #ffffff;
}

/*правило для ссылок на компании-перевозчики*/
.company a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
}

/*спрятала модальные окна*/
.modal {
	display: none;
}

/*цвет фона для футера*/
footer {
	background-color: #32425c;
}

/*первая строка навигации в футере в покое*/
.footer-navigation-1 a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color: #f1f5f7;
	background-color: #32425c;
}

/*первая строка навигации в футере при наведении*/
.footer-navigation-1 a:hover {
	text-decoration: underline;
}

/*первая строка навигации в футере при клике*/
.footer-navigation-1 a:active {
	opacity: 0.5;
}

/*вторая строка навигации в футере в покое*/
.footer-navigation-2 a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size:18px;
	line-height:24px;
	font-weight: normal;
	color: #ffd180;
	background-color: #32425c;
}

/*вторая строка навигации в футере при наведении*/
.footer-navigation-2 a:hover {
	text-decoration: underline;
}

/*вторая строка навигации в футере при клике*/
.footer-navigation-2 a:active {
	opacity: 0.5;
}

/*телефон и адрес в футере*/
.footer-address,
.footer-tel {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color: #f1f5f7;
	background-color: #32425c;
}

/*цвет фона в нижней части футера*/
.lower-footer {
	background: #293449;
}

/*стилизация копирайта*/
.copyright {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
	background-color: #293449;
}

/*обратная связь и  разработчик*/
.feedback,
.developed-by {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
	background-color: #293449;
}

/*обратная связь и  разработчик*/
.feedback-mail,
.site {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #ffd180;
	background-color: #293449;
}

/*почта и сайт при наведении*/
.feedback-mail:hover,
.site:hover {
	text-decoration: underline;
}

/*почта и сайт при клике*/
.feedback-mail:active,
.site:active {
	color: #ee3643;
}

/*стилизация ссылок "подробнее о компании" и "напишите нам"*/
.more,
.help {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background: #ee3643;
}

/*при наведении*/
.more:hover,
.help:hover {
	background: #ca2c37;
}

/*при клике*/
.more:active,
.help:active {
	background: #ba2732;
}

/*стилизация страницы каталога*/
.container h2 {
	color: #32425c;
	background: #f2f6f8;
}

/*фон для хлебных крошек*/
.breadcrumbs {
	background: #ffffff;
}

/*стилизация хлебных крошек*/
.breadcrumbs a {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
  	color: #000000;
}

/*стилизация критериев отбора в фильтре*/
 .filter-criterion {
 	font-family: PT Sans, Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
  	color: #000000;
  	text-transform: uppercase;
 }

/*стилизация позиций фильтра*/
.filter-option {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: normal;
	text-transform: uppercase;
  	color: #000000;
}

/*позиция фильтра заблокирована*/
.filter-option:disabled {
	opacity: 0.4;
}

/*рамка для товаров в каталоге*/
.catalog article {
	border: 1px solid #e5e5e5;
}

/*тень для товаров в каталоге*/
.catalog article:hover {
	box-shadow: 0px 3px 20px 0px #abafb8;
}

/*стилизация названия товаров*/
.catalog-item h4,
.catalog-item h3 {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: #000000;
}

/*стилизация старой цены*/
.old-price {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #999999;
	text-decoration: line-through;
}

 /*новая цена*/
.price {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #ffffff;
	background: #ee3643;
}

/*фон для параграфа о перфораторах*/
.perforator p {
	background: #e5e5e5;
}

/*стилизация пагинации в покое*/
.pagination-item a {
	border: 1px solid #e5e5e5;
	color: #000000;
	text-transform: uppercase;
}

/*пагинация в наведении*/
.pagination-item a:hover {
	border: 1px solid #bdc6ca;
}

/*пагинация при клике*/
.pagination-item a:active {
	border: 1px solid #ee3643;
}

/*текущая страницу*/
.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
}

a + .product-buttons {
	display: none;
}

a:hover + .product-buttons {
	display: block;
}
.buy {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background: #63a63e;
	box-shadow: inset 0 -30px 0px -25px #367315;	
}

.buy:hover {
	background: #5fbb2d;
}

.buy:active {
	background: #518534;
	box-shadow: none;
}

.marker {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #32425c;
	background: #ffffff;
	border: 3px solid #63a63e;
}
.marker:hover {
	border: 3px solid #32425c;
 }

 .marker:active {
 	opacity:0.3;
 }
