body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;
	background-color: #f1f5f7;
}
/*базовые стили*/

.header-right {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	color:#ffffff;
	background-color: #293449;
}
/*общие стили для блока правее логотипа*/
.header-right a {
	color:#ffffff;
}
/*определяю цвет текста для ссылок*/
.header-right a:last-child {
	background-color:#63a63e;
}
/*цвет фона для ссылки на оформление заказа*/
.header-right input {
	background-color:#293449;
}
/*цвет формы поиска*/
.header-right a:hover,
.header-right input:hover {
	background-color:#212a3a;
}
/*цвет фона при наведении для поиска и ссылок*/
.header-right a:last-child:hover {
	background-color:#5fbb2d;
}
/*цвет фона при наведении для ссылки на оформление заказа*/
.header-right a:active{
	background-color:#161d29;
}
/*цвет фона для ссылок при нажатии*/
.header-right a:last-child:active {
	background-color:#518534;
}
/*цвет фона для ссылки на оформление при нажатии*/
.header-right input:focus {
	background-color:#ffffff;
}
/*цвет фона для поля поиска в фокусе и при нажатии*/
h1 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 23px;
	color:#ee3643;
	background-color: #f1f5f7;
	font-style:italic;
}
/*правило для заголовка первого уровня*/
.tel {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	line-height: 21px;
	color:#ee3643;
	background-color: #f1f5f7;
	border: 1px solid #ffffff;
}
/*правило для номера телефона*/
.address {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color:#32425c;
	background-color: #f1f5f7;
}
/*правило для адреса*/
a {
	text-decoration: none;
	color: none;
}
/*аннулирует цвет и подчеркивание ссылок*/
.login a,
.registration a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size:21px;
	line-height:21px;
	color: #000000;
	background-color:#ffffff;
}
/* войти и регистрация в покое*/
.login a:hover,
.registration a:hover {
	font-family: "Cuprum", Arial, sans-serif;
	font-size:21px;
	line-height:21px;
	color: #ee3643;
	background-color:#ffffff;
}
/*войти и регистрация при наведении*/
.login a:active,
.registration a:active {
	font-family: "Cuprum", Arial, sans-serif;
	font-size:21px;
	line-height:21px;
	color: #000000;
	background-color:#ffffff;
	opacity: 0.7;
}
/*войти и регистрация при клике*/
.profile-name a{
	font-family: "Cuprum", Arial, sans-serif;
	font-size:21px;
	line-height:21px;
	color: #000000;
	background-color:#ffffff;
}
/*им пользователя в покое*/
.profile-name a:hover{
	font-family: "Cuprum", Arial, sans-serif;
	font-size:21px;
	line-height:21px;
	color: #000000;
	background-color:#ffffff;
}/*имя пользователя при наведении, тут при наведении будет меняться только поведение иконок, которых пока нет*/

.profile-name a:active{
	font-family: "Cuprum", Arial, sans-serif;
	font-size:21px;
	line-height:21px;
	color: #000000;
	background-color:#ffffff;
	opacity: 0.7;
}
/*имя пользователя при клике*/

.orders a,
.profile a{
	font-family: "Cuprum", Arial, sans-serif;
	font-size:16px;
	line-height:18px;
	font-weight: normal;
	color: #32425c;
	background-color: #ffffff;
	text-decoration:underline;
}
/*заказы и личный каьинет в покое*/
.orders a:hover,
.profile a:hover {
	color: #ee3643;
}
/*заказы и личный кабинет при наведении*/
.orders a:active,
.profile a:active{
	font-family: "Cuprum", Arial, sans-serif;
	font-size:16px;
	line-height:18px;
	font-weight: normal;
	color: #32425c;
	background-color: #ffffff;
	text-decoration:underline;
	opacity: 0.7;
}
/*заказы и личный кабинет клик*/
.main-navigation {
	font-family: "Cuprum", Arial, sans-serif;
	font-size:17px;
	line-height:17px;
	font-weight: normal;
	color: #ffffff;
	background-color: #32425c;
}
/*правило для главной навигации*/
.main-navigation li:hover {
	background-color:#293449;
}
/*главная навигация при наведении*/
.main-navigation li:active {
	background-color:#1d2739;
	opacity: 0.7;
}
/*главная навигация при клике*/
li {
	list-style: none;
}
/*отмена точек в списках*/

.site-navigation a {
	color: #ffffff;
}
/*цвет ссылок в глав.навигации*/
.visually-hidden {
	display:none;
}
/*спрятала скрытые элементы*/
.brands li:active{
	opacity: 0.7;
}
/*прозрачность бренды при клике*/
h2 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size:30px;
	line-height:30px;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
}
/*правило для заголовков второго уровня*/
.about-us p,
.contacts p,
.perforator p {
	font-family: PT Sans, Arial, sans-serif;
	font-size:13px;
	line-height:24px;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
}
/*правило для параграфов о нас, контакты, перфораторы*/
section {
	background-color: #ffffff;
}
/*цвет фона для секций*/
.company a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size:18px;
	line-height:20px;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
}
/*правило для ссылок на компании-перевозчики*/
.modal {
	display: none;
}
/*спрятала модальные окна*/
footer {
	background-color:#32425c;
}
/*цвет фона для футера*/
.footer-navigation-1 a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size:18px;
	line-height:24px;
	font-weight: normal;
	color: #f1f5f7;
	background-color: #32425c;
}
/*первая строка навигации в футере в покое*/
.footer-navigation-1 a:hover {
	text-decoration:underline;
}
/*первая строка навигации в футере при наведении*/
.footer-navigation-1 a:active {
	opacity: 0.7;
}
/*первая строка навигации в футере при клике*/
.footer-navigation-2 a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size:18px;
	line-height:24px;
	font-weight: normal;
	color: #ffd180;
	background-color: #32425c;
}
/*вторая строка навигации в футере в покое*/
.footer-navigation-2 a:hover {
	text-decoration:underline;
}
/*вторая строка навигации в футере при наведении*/
.footer-navigation-2 a:active {
	opacity: 0.7;
}
/*вторая строка навигации в футере при клике*/
.footer-address,
.footer-tel {
	font-family: "Cuprum", Arial, sans-serif;
	font-size:18px;
	line-height:24px;
	font-weight: normal;
	color: #f1f5f7;
	background-color: #32425c;
}
/*телефон и адрес в футере*/
.lower-footer {
	background: #293449;
}
/*цвет фона в нижней части футера*/
.copyright {
	font-family: "Cuprum", Arial, sans-serif;
	font-size:16px;
	line-height:18px;
	font-weight: normal;
	color: #ffffff;
	background-color: #293449;
}
/*стилизация копирайта*/
.feedback,
.developed-by {
	font-family: "Cuprum", Arial, sans-serif;
	font-size:16px;
	line-height:18px;
	font-weight: normal;
	color: #ffffff;
	background-color: #293449;
}
/*обратная связь и  разработчик*/
.feedback-mail,
.site {
	font-family: "Cuprum", Arial, sans-serif;
	font-size:16px;
	line-height:18px;
	font-weight: normal;
	color: #ffd180;
	background-color: #293449;
}
/*обратная связь и  разработчик*/
.feedback-mail:hover,
.site:hover {
	text-decoration:underline;
}
/*почта и сайт при наведении*/
.feedback-mail:active,
.site:active {
	color:#ee3643;
}
/*почта и сайт при клике*/
